.permissions-list {
    padding-top: 25px;
    background: #fff;
    position: relative;
    height: 740px;

    h1 {
        margin-left: 30px;
    }

    h5 {
        margin-bottom: 25px;
        margin-left: 90px;
        text-transform: uppercase;
    }

    .grid {
        margin-top: 25px;
    }

    ul{
        list-style: none;

        li {
            border-bottom: 1px solid #999999;
            padding: 20px;

            &:first-child{
                border-top: 1px solid #999999;
            }

            label {
                margin-left: 20px;
            }
        }
    }

    .buttons {
        margin-top: 25px;
        text-align: center;
        
        .btn {
            width: 250px;
            height: 50px;
            border-radius: 30px;
        }
    }
}